th, td {
    font-family: 'Helvetica Neue';
    padding-left: 8px;
    padding-right: 8px;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid black;
}

tbody > tr.alternaterow > td {
    background-color: silver;
}

tfoot {
    border-top: 3px double black;
}
